.quiz-container {
    padding: 30px;
    background-color: #f9f0ff; /* Çok açık mor (lila) */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
  }
  
  .code-entry {
    text-align: center;
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 10px;
  }
  
  .exam-code-input {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .start-exam-button {
    background-color: #2196f3;
    border-color: #2196f3;
  }
  
  .quiz-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .quiz-title {
    text-align: center;
    color: #3f51b5;
  }
  
  .question-card {
    margin-bottom: 20px;
    background-color: #f9f0ff; /* Çok açık mor (lila) */
    border-radius: 10px;
  }
  
  .question-text {
    font-size: 18px;
    color: #460852;
  }
  
  .options-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .option-radio {
    margin: 10px 0;
  }
  
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .next-button {
    background-color: #4caf50;
    border-color: #4caf50;
  }
  
  .quiz-finished {
    text-align: center;
  }
  
  .quiz-finished-title {
    color: #f44336;
  }
  
  .score-text {
    font-size: 20px;
    font-weight: bold;
    color: #ff9800;
  }
  
  .back-button {
    background-color: #3f51b5;
    border-color: #3f51b5;
  }
  